body { 
	background-color:  #0f0f0f;     
	color: #EFEFEF;
    font-size: 15px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: normal;
    font-style: normal;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 150px;
}

table {
	color:#EFEFEF;
	background-color:#323232;
	border-color:Gray;
	border-width:1px;
	border-style:Solid;
	border-collapse:collapse;
}

h1 {
	font-size: 1.75em;
	margin-bottom: 0.00em;
	margin-top: 1.00em;
	text-indent: 0.00em;
	text-align: left;
	font-weight: bold;
	font-style: normal;	
	font-variant: small-caps;
}
h1.title {
    background-color: #522e2c; 
	margin-bottom:10px;
	margin-left:-2px;
    color:  #cbc18f;
	padding:4px 9px 4px 9px;
	height:26px;
	border-radius: 3px;
}
	
h2 {
	font-size: 1.3em;
	margin-bottom: 0.00em;
	margin-top: 1.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: left;
	font-weight: bold;
	font-style: normal;	
	font-variant: small-caps;
}
h2.title {
	margin-bottom:10px;
	margin-left:-2px;
    color:  #1B1007;
	padding:4px 9px 4px 9px;
	line-height:16px;
	border-radius: 3px;
	background-color: #64542f;
	padding: 5px 5px 5px 5px;
}

h3 {
	font-size: 1.1em;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	text-indent: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
	text-align: left;
	font-weight: bold;
	font-style: normal;	
	font-variant: small-caps;
}
h3.title {
    background-color: #999999;
    color: White;
	border-radius: 3px;
}
h3.framing {
    border-top-style: solid; 
    border-top-width: 1px; 
    border-bottom-width: 1px; 
    border-bottom-style: solid;
	margin-top: 3px;
	margin-bottom: 3px;
}

div + h1, div + h2, div + h3, div + p,h1 + p, h2 + p, h3 + p, h1 + h2, :first-child, p:first-child {
	margin-top: 0;
}

A:link, A:visited, A:active {
    text-decoration: none;
    font-style: italic;
    color: inherit;
}
A:hover {
    text-decoration: underline;
}